<template name="resetMemoForm">
    <div class="modal fade" id="resetMemoModal" tabindex="-1" role="dialog"
         aria-labelledby="resetMemoTitle">
        <div class="modal-dialog">
            <div class="modal-content modal-content-for-buttons">
                <div class="modal-header">
                    <span class="modal-icon">
                        <i class="fa fa-trash"></i>
                    </span>
                    {{> mainModalItemCloseIcon}}
                    <h4 id="resetMemoTitle" class="modal-title">{{_ "resetWozniak"}}
                    </h4>
                </div>
                <div class="modal-body">
                    {{_ "modal-dialog.resetWozniak" name= this.name }}
                </div>
                <div class="modal-footer">
                    <button id="resetMemoConfirm" class="btn btn-raised btn-danger pull-right">{{_
                            "reset"}}</button>
                    <button id="resetMemoCancel" class="btn btn-raised btn-default pull-left"
                            data-dismiss="modal">{{_
                            "modal-dialog.cancel"}}</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</template>
