<template name="mainNavigationTopItemProfileItemBilling">
    {{#if isProLoginActive}}
            <tr class="{{#if isActiveRoute
                             'profileBilling'}}active{{/if}}">
                <td><a class="dropdown-item"
                       href="/profile/{{currentUser._id}}/billing"><i
                        class="fa fa-credit-card"></i></a></td>
                <td><a class="dropdown-item"
                       href="/profile/{{currentUser._id}}/billing">{{_
                        "profile.billing"}}</a></td>
            </tr>
    {{/if}}
</template>
